---
import { Icon } from "astro-icon/components";
---

<footer id="contact" class="bg-primary-dark_gray">
  <div class="py-16 md:flex md:justify-between">
    <div class="text-left p-3 text-gray-200 md:w-1/2">
      <h1 class="text-primary-red text-xl px-5 py-2">OPTANWAR</h1>
      <p class="px-5 font-roboto">
        A Frontend focused Web Developer building the Frontend of Websites and
        Web Applications that leads to the success of the overall product.
      </p>
    </div>
    <div class="my-auto md:w-1/4">
      <h2
        class="text-gray-300 text-xl font-roboto py-2 text-center ml-2 hidden md:block"
      >
        Contact On
      </h2>
      <div class="flex justify-center mx-auto pb-8">
        <a href="https://wa.me/+917440262928" target="_blank"
          ><Icon
            name="whatsapp"
            height={20}
            width={40}
            class="text-gray-200 hover:text-gray-400 cursor-pointer"
          /></a
        >

        <a href="skype:7440262928?chat" target="_blank">
          <Icon
            name="skype"
            height={20}
            width={40}
            class="text-gray-200 hover:text-gray-400 cursor-pointer"
          />
        </a>

        <a href="https://github.com/OPTANWAR2001" target="_blank"
          ><Icon
            name="github"
            height={20}
            width={40}
            class="text-gray-200 hover:text-gray-400 cursor-pointer"
          /></a
        >
        <a href="https://www.linkedin.com/in/optanwar/" target="_blank"
          ><Icon
            name="linkedin"
            height={20}
            width={40}
            class="text-gray-200 hover:text-gray-400 cursor-pointer"
          /></a
        >
        <a href="mailto:optanwar10@gmail.com" target="_blank"
          ><Icon
            name="envelope"
            height={20}
            width={40}
            class="text-gray-200 hover:text-gray-400 cursor-pointer"
          /></a
        >
      </div>
    </div>
  </div>
  <div class="border-t border-gray-500">
    <p class="text-gray-300 text-center py-2 text-xs">
      &copy; Copyright {new Date().getFullYear()}. Made by <a
        href="https://wa.me/+917440262928"
        class="underline">OP TANWAR</a
      >
    </p>
  </div>
</footer>
