---

---

<section id="experience" class="bg-primary-gray py-16">
  <h1 class="font-roboto text-center text-gray-200 text-3xl tracking-wider">
    <span class="border-b-2 pb-1 border-primary-red uppercase">Experience</span>
  </h1>

  <div class="w-full px-10 md:w-3/4 lg:w-1/2 md:px-2 lg:px-2 mx-auto py-10">
    <h3 class="text-gray-200 text-left text-2xl">Front End Developer</h3>
    <h4 class="text-red-500 text-left text-xl">Nextloop Technologies</h4>
    <p class="leading-9 text-lg text-gray-300">
      <span class="text-primary-red px-2 font-bold text-2xl"> -</span>
      Tech: React.js, Astro.js, JavaScript, Tailwind CSS, HTML
    </p>
    <p class="leading-9 text-lg text-gray-300">
      <span class="text-primary-red px-2 font-bold text-2xl"> -</span>
      Built a platform where students of a college can interact with each other.
    </p>
    <p class="leading-9 text-lg text-gray-300">
      <span class="text-primary-red px-2 font-bold text-2xl"> -</span>
      Built a platform where students of a college can interact with each other.
    </p>
    <p class="leading-9 text-lg text-gray-300">
      <span class="text-primary-red px-2 font-bold text-2xl"> -</span>
      Built a platform where students of a college can interact with each other.
    </p>
    <p class="leading-9 text-lg text-gray-300">
      <span class="text-primary-red px-2 font-bold text-2xl"> -</span>
      Built a platform where students of a college can interact with each other.
    </p>
    <p class="leading-9 text-lg text-gray-300">
      <span class="text-primary-red px-2 font-bold text-2xl"> -</span>
      Built a platform where students of a college can interact with each other.
    </p>
  </div>
</section>
