---
import { Image } from "astro:assets";
import swimg from "../../../public/assets/swacademy.svg";
import portfolio from "../../../public/assets/portfolio.jpg";
---

<section id="projects" class="py-14 bg-primary-dark_gray">
  <h1 class="font-roboto text-center text-gray-200 text-3xl tracking-wider">
    <span class="border-b-2 pb-1 border-primary-red uppercase">Projects</span>
  </h1>

  <div class="py-16 flex justify-center mx-auto">
    <div class="mx-auto">
      <Image
        src={swimg}
        height={1000}
        width={1000}
        alt="SW Academy Home"
        class="w-11/12 lg:w-9/12 rounded-md shadow-lg shadow-slate-800 border border-gray-700 mx-auto transition-all duration-300"
      />
      <h2
        class="w-10/12 mx-auto text-xl capitalize text-center tracking-wider my-5 text-primary-red"
      >
        shower wealth academy (Responsive)
      </h2>
      <div class="11/12 lg:w-9/12 mx-auto px-5 md:text-lg">
        <p class="text-gray-300">
          Technologis: Astro.js ,React.js, JavaScript, Tailwind Css, HTML.
        </p>
        <p class="text-gray-300 my-1">
          Link: <a
            href="https://www.showerwealthacademy.com/"
            target="_blank"
            class="text-red-400 cursor-pointer underline"
            >https://www.showerwealthacademy.com/</a
          >
        </p>

        <p class="list-disc text-gray-400">
          <span class="text-primary-red px-2 font-bold text-2xl"> -</span>Built
          a platform for A Stock Market teading Institute.
        </p>
        <p class="list-disc text-gray-400">
          <span class="text-primary-red px-2 font-bold text-2xl"> -</span>Built
          Reusable components are built to showcase different items.
        </p>
        <p class="list-disc text-gray-400">
          <span class="text-primary-red px-2 font-bold text-2xl"> -</span>Built
          It's database is managed on Firestore and is hosted on Vercel.
        </p>
        <p class="list-disc text-gray-400">
          <span class="text-primary-red px-2 font-bold text-2xl"> -</span>Built
          I added a live Chatbot feature in this application that can do live
          chatting.
        </p>
        <p class="list-disc text-gray-400">
          <span class="text-primary-red px-2 font-bold text-2xl"> -</span>Built
          Have a look at it, and please feel free to contact anytime.
        </p>
      </div>
    </div>
  </div>
  <div class="pb-16 flex justify-center mx-auto">
    <div class="mx-auto">
      <Image
        src={portfolio}
        height={1000}
        width={1000}
        alt="SW Academy Home"
        class="w-11/12 lg:w-9/12 rounded-md shadow-lg shadow-slate-800 border border-gray-700 mx-auto transition-all duration-300"
      />
      <h2
        class="w-10/12 mx-auto text-xl capitalize text-center tracking-wider my-5 text-primary-red"
      >
        My Portfolio Website (Responsive)
      </h2>
      <div class="11/12 lg:w-9/12 mx-auto px-5 md:text-lg">
        <p class="text-gray-300">
          Technologis: Astro.js, JavaScript, Tailwind Css, HTML.
        </p>
        <p class="text-gray-300 my-1">
          Link: <a
            href="https://www.showerwealthacademy.com/"
            target="_blank"
            class="text-red-400 cursor-pointer underline"
            >https://optanwar.vercel.app/</a
          >
        </p>

        <p class="list-disc text-gray-400">
          <span class="text-primary-red px-2 font-bold text-2xl"> -</span>This
          Portfolio too is built using Astro.js.
        </p>
        <p class="list-disc text-gray-400">
          <span class="text-primary-red px-2 font-bold text-2xl"> -</span>It is
          a website which answers to the question who am I?
        </p>
        <p class="list-disc text-gray-400">
          <span class="text-primary-red px-2 font-bold text-2xl"> -</span>It is
          hosted on Vercel.
        </p>
        <p class="list-disc text-gray-400">
          <span class="text-primary-red px-2 font-bold text-2xl"> -</span>Built
          Have a look at it, and please feel free to contact anytime.
        </p>
      </div>
    </div>
  </div>
</section>
