---
import { Image } from "astro:assets";
import swimg from "../../../public/assets/swacademy.svg";
---

<section id="projects" class="py-14 bg-primary-dark_gray">
  <h1 class="font-roboto text-center text-gray-200 text-3xl tracking-wider">
    <span class="border-b-2 pb-1 border-primary-red uppercase">Projects</span>
  </h1>

  <div class="py-16 flex justify-center mx-auto">
    <div class="mx-auto">
      <Image
        src={swimg}
        height={1000}
        width={800}
        alt="SW Academy Home"
        class="w-11/12 lg:w-9/12 rounded-md shadow-lg shadow-slate-800 border border-gray-700 mx-auto transition-all duration-300"
      />
      <h2
        class="w-10/12 mx-auto text-xl capitalize text-center tracking-wider my-5 text-primary-red"
      >
        shower wealth academy (Responsive)
      </h2>
      <div class="11/12 lg:w-9/12 mx-auto px-5 md:text-lg">
        <p class="text-gray-300">
          Technologis: Astro.js ,React.js, JavaScript, Tailwind Css, HTML.
        </p>
        <p class="text-gray-300 my-1">
          Link: <a
            href="https://www.showerwealthacademy.com/"
            class="text-red-400 cursor-pointer">shower wealth academy</a
          >
        </p>

        <p class="list-disc text-white">
          <span class="text-primary-red px-2 font-bold text-2xl"> -</span>Built
          a platform where students of a college can interact with each other.
        </p>
        <p class="list-disc text-white">
          <span class="text-primary-red px-2 font-bold text-2xl"> -</span>Built
          a platform where students of a college can interact with each other.
        </p>
        <p class="list-disc text-white">
          <span class="text-primary-red px-2 font-bold text-2xl"> -</span>Built
          a platform where students of a college can interact with each other.
        </p>
        <p class="list-disc text-white">
          <span class="text-primary-red px-2 font-bold text-2xl"> -</span>Built
          a platform where students of a college can interact with each other.
        </p>
      </div>
    </div>
  </div>
  <div class="pb-16 flex justify-center mx-auto">
    <div class="mx-auto">
      <Image
        src={swimg}
        height={1000}
        width={800}
        alt="SW Academy Home"
        class="w-11/12 lg:w-9/12 rounded-md shadow-lg shadow-slate-800 border border-gray-700 mx-auto transition-all duration-300"
      />
      <h2
        class="w-10/12 mx-auto text-xl capitalize text-center tracking-wider my-5 text-primary-red"
      >
        shower wealth academy (Responsive)
      </h2>
      <div class="11/12 lg:w-9/12 mx-auto px-5 md:text-lg">
        <p class="text-gray-300">
          Technologis: Astro.js ,React.js, JavaScript, Tailwind Css, HTML.
        </p>
        <p class="text-gray-300 my-1">
          Link: <a
            href="https://www.showerwealthacademy.com/"
            class="text-red-400 cursor-pointer">shower wealth academy</a
          >
        </p>

        <p class="list-disc text-white">
          <span class="text-primary-red px-2 font-bold text-2xl"> -</span>Built
          a platform where students of a college can interact with each other.
        </p>
        <p class="list-disc text-white">
          <span class="text-primary-red px-2 font-bold text-2xl"> -</span>Built
          a platform where students of a college can interact with each other.
        </p>
        <p class="list-disc text-white">
          <span class="text-primary-red px-2 font-bold text-2xl"> -</span>Built
          a platform where students of a college can interact with each other.
        </p>
        <p class="list-disc text-white">
          <span class="text-primary-red px-2 font-bold text-2xl"> -</span>Built
          a platform where students of a college can interact with each other.
        </p>
      </div>
    </div>
  </div>
</section>
