---
import { Icon } from "astro-icon/components";
---

<div
  class="hidden md:flex right-0 flex-col fixed py-3 z-50 rounded-l-md mt-28 bg-gray-600 backdrop-blur-sm bg-white/30"
>
  <a href="https://wa.me/+917440262928" target="_blank"
    ><Icon
      name="whatsapp"
      height={20}
      width={40}
      class="mt-1 my-1 rounded-sm cursor-pointer text-gray-300 hover:text-gray-400"
    /></a
  >
  <a href="https://www.linkedin.com/in/optanwar/" target="_blank"
    ><Icon
      name="linkedin"
      height={20}
      width={40}
      class="my-2 rounded-sm cursor-pointer text-gray-300 hover:text-gray-400"
    /></a
  >
  <a href="skype:https://join.skype.com/invite/pVHlZe67D3Au" target="_blank"
    ><Icon
      name="skype"
      height={20}
      width={40}
      class="my-2 rounded-sm cursor-pointer text-gray-300 hover:text-gray-400"
    /></a
  >
  <a href="https://github.com/op-tanwar" target="_blank"
    ><Icon
      name="github"
      height={20}
      width={40}
      class="my-2 rounded-sm cursor-pointer text-gray-300 hover:text-gray-400"
    /></a
  >
  <a href="mailto:optanwar10@gmail.com" target="_blank"
    ><Icon
      name="envelope"
      height={20}
      width={40}
      class="my-2 rounded-sm cursor-pointer text-gray-300 hover:text-gray-400"
    /></a
  >
</div>
